In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

from sklearn.metrics import mean_squared_error,r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor

In [6]:
df=pd.read_csv('data/stud.csv')

In [7]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [12]:
df.shape

(1000, 8)

In [13]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [14]:
df.duplicated().sum()

0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [16]:
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

In [17]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [18]:
numeric_features=[feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features=[feature for feature in df.columns if df[feature].dtype == 'O']

In [19]:
numeric_features

['math score', 'reading score', 'writing score']

In [20]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [21]:
df['total_score']=df['math score']+df['reading score']+df['writing score']
df['average']=df['total_score']/3
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total_score,average
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333

In [22]:
X=df.drop('math score',axis=1)

In [23]:
y=df['math score']

In [24]:
X

,gender,race/ethnicity,parental level of education,lunch,test preparation course,reading score,writing score,total_score,average
0,female,group B,bachelor's degree,standard,none,72,74,218,72.666667
1,female,group C,some college,standard,completed,90,88,247,82.333333
2,female,group B,master's degree,standard,none,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,57,44,148,49.333333
4,male,group C,some college,standard,none,78,75,229,76.333333
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,99,95,282,94.000000
996,male,group C,high school,free/reduced,none,55,55,172,57.333333
997,female,group C,high school,free/reduced,completed,71,65,195,65.000000
998,female,group D,some college,standard,completed,78,77,223,74.333333
999,female,group D,some college,free/reduced,none,86,86,249,83.000000

In [25]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

In [28]:
num_features=X.select_dtypes(exclude='object').columns
cat_features=X.select_dtypes(include='object').columns

In [31]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

In [33]:
numeric_transformer=StandardScaler()
oh_tranformer=OneHotEncoder()

preprocessor=ColumnTransformer(
[
    ("OneHotEncoder",oh_tranformer,cat_features),
    ("StandardScaler",numeric_transformer,num_features)
])

In [34]:
X=preprocessor.fit_transform(X)

In [36]:
X.shape

(1000, 21)

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [43]:
def evaluate_model(true,pred):
    mae=mean_absolute_error(true,pred)
    mse=mean_squared_error(true,pred)
    rmse=np.sqrt(mse)
    r2_square=r2_score(true,pred)
    return mae,rmse,r2_square

In [46]:
models={
    "Linear Regression":LinearRegression(),
    "Lasso": Lasso(),
    "Ridge":Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor":RandomForestRegressor(),
    "XGBRegressor":XGBRegressor(),
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor(),
    
}

model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)
    
    y_train_pred=model.predict(X_train)
    y_test_pred=model.predict(X_test)
    
    model_train_mae,model_train_rmse,model_train_r2=evaluate_model(y_train,y_train_pred)
    model_test_mae,model_test_rmse,model_test_r2=evaluate_model(y_test,y_test_pred)
    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model Performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Scorer: {:.4f}".format(model_train_r2))
    
    print("----------------------------------------------------------------------")
    
    print('Model Performance for Testing set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Scorer: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)

Linear Regression
Model Performance for Training set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Scorer: 1.0000
----------------------------------------------------------------------
Model Performance for Testing set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Scorer: 1.0000
Lasso
Model Performance for Training set
- Root Mean Squared Error: 4.7381
- Mean Absolute Error: 3.7439
- R2 Scorer: 0.9004
----------------------------------------------------------------------
Model Performance for Testing set
- Root Mean Squared Error: 4.7171
- Mean Absolute Error: 3.7579
- R2 Scorer: 0.9086
Ridge
Model Performance for Training set
- Root Mean Squared Error: 0.3396
- Mean Absolute Error: 0.2724
- R2 Scorer: 0.9995
----------------------------------------------------------------------
Model Performance for Testing set
- Root Mean Squared Error: 0.3432
- Mean Absolute Error: 0.2684
- R2 Scorer: 0.9995
K-Neighbors Regressor
Model Performance for Training set
- Root Mean Squared Error: 4.2791
- Mean Absolute Error: 3.3838
- R2 Scorer: 0.9188
----------------------------------------------------------------------
Model Performance for Testing set
- Root Mean Squared Error: 5.1788
- Mean Absolute Error: 4.0460
- R2 Scorer: 0.8898
Decision Tree
Model Performance for Training set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Scorer: 1.0000
----------------------------------------------------------------------
Model Performance for Testing set
- Root Mean Squared Error: 3.7835
- Mean Absolute Error: 2.9750
- R2 Scorer: 0.9412
Random Forest Regressor
Model Performance for Training set
- Root Mean Squared Error: 1.0973
- Mean Absolute Error: 0.8415
- R2 Scorer: 0.9947
----------------------------------------------------------------------
Model Performance for Testing set
- Root Mean Squared Error: 2.9872
- Mean Absolute Error: 2.1666
- R2 Scorer: 0.9633
XGBRegressor
Model Performance for Training set
- Root Mean Squared Error: 0.1150
- Mean Absolute Error: 0.0829
- R2 Scorer: 0.9999
----------------------------------------------------------------------
Model Performance for Testing set
- Root Mean Squared Error: 2.4466
- Mean Absolute Error: 1.8871
- R2 Scorer: 0.9754
CatBoosting Regressor
Model Performance for Training set
- Root Mean Squared Error: 0.9428
- Mean Absolute Error: 0.7702
- R2 Scorer: 0.9961
----------------------------------------------------------------------
Model Performance for Testing set
- Root Mean Squared Error: 2.7861
- Mean Absolute Error: 1.9234
- R2 Scorer: 0.9681
AdaBoost Regressor
Model Performance for Training set
- Root Mean Squared Error: 3.9396
- Mean Absolute Error: 3.1846
- R2 Scorer: 0.9312
----------------------------------------------------------------------
Model Performance for Testing set
- Root Mean Squared Error: 4.3010
- Mean Absolute Error: 3.3569
- R2 Scorer: 0.9240

In [47]:
pd.DataFrame(list(zip(model_list,r2_list)),columns=['Model Name','R2_Score']).sort_values(by=['R2_Score'],ascending=False)

                Model Name  R2_Score
0        Linear Regression  1.000000
2                    Ridge  0.999516
6             XGBRegressor  0.975401
7    CatBoosting Regressor  0.968100
5  Random Forest Regressor  0.963329
4            Decision Tree  0.941172
8       AdaBoost Regressor  0.923979
1                    Lasso  0.908560
3    K-Neighbors Regressor  0.889781